[Unit]
Description=etcd proxy
ConditionPathExists=/etc/environment

[Service]
EnvironmentFile=/etc/environment

ExecStart=/usr/local/bin/etcd  --proxy=on

Type=notify
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
